openapi: 3.2.0
info:
  title: Wodify Communications API
  description: REST API for the Wodify gym, fitness, and CrossFit box management platform.
  version: '1.0'
  contact:
    name: Wodify
    url: https://www.wodify.com
servers:
- url: https://api.wodify.com/v1
  description: Wodify API (production)
security:
- apiKeyAuth: []
tags:
- name: Communications
  description: Email, SMS, in-app chat, and tasks.
paths:
  /communications/email:
    post:
      operationId: sendEmail
      tags:
      - Communications
      summary: Send email
      description: Sends an email to a client, lead, or segment.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailMessage'
      responses:
        '200':
          description: The email was queued for delivery.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
components:
  responses:
    Unauthorized:
      description: Missing or invalid x-api-key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ValidationError:
      description: The request payload failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
    EmailMessage:
      type: object
      description: An outbound email message.
      properties:
        to:
          type: string
        subject:
          type: string
        body:
          type: string
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: A valid Wodify API key passed in the `x-api-key` request header. Customers using Wodify Workflows already have a key under Wodify Core > Digital Presence > Web Integrations > API Keys; partners request one via the Wodify Developer Portal.
